<div class="container">
    <div nz-row class="menu" [nzGutter]="16" nzJustify="center">
        <div nz-col nzSpan="4">
            <input nz-input placeholder="搜索你的任务" />
        </div>
        <div nz-col nzSpan="4">
            <nz-select nzPlaceHolder="研究方向" nzAllowClear>
                <nz-option nzValue="1" nzLabel="Artificial intelligence"></nz-option>
                <nz-option nzValue="2" nzLabel="Computer graphics and visualization"></nz-option>
            </nz-select>
        </div>
        <div nz-col nzSpan="4">
            <nz-select nzPlaceHolder="任务状态" nzAllowClear>
                <nz-option nzValue="1" nzLabel="未发布"></nz-option>
                <nz-option nzValue="2" nzLabel="进行中"></nz-option>
                <nz-option nzValue="3" nzLabel="已完成"></nz-option>
            </nz-select>
        </div>
        <div nz-col nzSpan="2">
            <button nzType="primary" (click)="openTaskDrawer()" nz-button>创建任务</button>
        </div>
    </div>
    <nz-table #basicTable>
        <thead>
            <tr>
                <th>序号</th>
                <th>任务标题</th>
                <th>研究方向</th>
                <th>任务状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>测试任务</td>
                <td></td>
                <td>
                    <nz-badge nzStatus="processing" nzText="进行中"></nz-badge>
                </td>
                <td>
                    <a>查看</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="openTaskDrawer()">编辑</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a>删除</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<app-task-form #taskFormDrawer></app-task-form>