<div class="container">
    <!-- 菜单 -->
    <div nz-row class="menu" [nzGutter]="16" nzJustify="center">
        <div nz-col [nzSpan]="4">
            <input [(ngModel)]="taskName" (ngModelChange)="queryTaskList()" placeholder="搜索你的任务" nz-input/>
        </div>
        <div nz-col [nzSpan]="4">
            <nz-select [(ngModel)]="researchId" (ngModelChange)="queryTaskList()" nzPlaceHolder="按研究方向筛选" nzAllowClear>
                <nz-option *ngFor="let research of researchList" [nzValue]="research.researchId"
                           [nzLabel]="research.researchName"></nz-option>
            </nz-select>
        </div>
        <div nz-col [nzSpan]="4">
            <nz-select [(ngModel)]="taskState" (ngModelChange)="queryTaskList()" nzPlaceHolder="按任务状态筛选" nzAllowClear>
                <nz-option [nzValue]="1" nzLabel="未发布"></nz-option>
                <nz-option [nzValue]="2" nzLabel="进行中"></nz-option>
                <nz-option [nzValue]="3" nzLabel="已完成"></nz-option>
            </nz-select>
        </div>
        <div nz-col [nzSpan]="2" [nzOffset]="10">
            <button nzType="primary" (click)="openTaskFormDrawer(0, 0)" nz-button>创建任务</button>
        </div>
    </div>

    <!-- 表格 -->
    <nz-table #basicTable [nzData]="taskList" [nzFrontPagination]="false">
        <thead>
        <tr>
            <th>任务标题</th>
            <th>研究方向</th>
            <th>任务状态</th>
            <th>截止时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of basicTable.data">
            <td>{{ task.taskName }}</td>
            <td>{{ task.researchName }}</td>
            <td>
                <nz-badge *ngIf="task.taskState == 1" nzStatus="default" nzText="未发布"></nz-badge>
                <nz-badge *ngIf="task.taskState == 2" nzStatus="processing" nzText="进行中"></nz-badge>
                <nz-badge *ngIf="task.taskState == 3" nzStatus="success" nzText="已完成"></nz-badge>
            </td>
            <td>{{ task.endTime | date:"yyyy-MM-dd HH:mm:ss" }}</td>
            <td>
                <a [nzDisabled]="task.taskState == 2 || task.taskState == 3"
                   (click)="openTaskReleaseModal(task.taskId, task.researchId)"
                   nz-typography>发布</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="openTaskDetailDrawer(task.taskId)">查看</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a [routerLink]="['/task/complete']" [queryParams]="{taskId: task.taskId}">批改</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a [nzDisabled]="task.taskState == 2 || task.taskState == 3"
                   (click)="openTaskFormDrawer(task.taskId, task.researchId)" nz-typography>编辑</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a nzPopconfirmTitle="确定删除当前任务?" nzPopconfirmPlacement="bottom"
                   (nzOnConfirm)="deleteTask(task.taskId)" [nzDisabled]="task.taskState == 2 || task.taskState == 3"
                   nz-popconfirm nz-typography>
                    删除
                </a>
            </td>
        </tr>
        </tbody>
    </nz-table>

    <br>

    <!-- 分页 -->
    <nz-pagination [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzTotal]="total"
                   (nzPageIndexChange)="pageIndexChange()" (nzPageSizeChange)="pageSizeChange()"
                   nzShowSizeChanger></nz-pagination>
</div>

<app-task-detail #taskDetailDrawer></app-task-detail>
<app-task-form #taskFormDrawer (refreshPage)="queryTaskList()"></app-task-form>
<app-task-release #taskReleaseComponent (refreshPage)="queryTaskList()"></app-task-release>
