.container {
    width: 100%;

    .menu {
        width: 100%;
        margin-bottom: 16px;

        nz-select {
            width: 100%;
        }
    }

    nz-table {
        th, td {
            text-align: center;
        }
    }

    nz-checkbox-wrapper {
        width: 100%;
    }
}



