<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="560" [nzVisible]="drawerVisible"
           [nzTitle]="drawerTitle" [nzFooter]="footerTpl" (nzOnClose)="closeDrawer()">
    <form nz-form *nzDrawerContent>
        <nz-form-item>
            <nz-form-label>任务名称</nz-form-label>
            <nz-form-control>
                <input name="taskName" [(ngModel)]="taskName" nz-input/>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>研究方向</nz-form-label>
            <nz-form-control>
                <nz-select name="researchId" [(ngModel)]="researchId">
                    <nz-option *ngFor="let research of researchList" [nzValue]="research.researchId"
                               [nzLabel]="research.researchName"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>任务内容</nz-form-label>
            <nz-form-control>
                <textarea name="taskContent" [(ngModel)]="taskContent" [nzAutosize]="{ minRows: 4, maxRows: 4 }"
                          nz-input></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="closeDrawer()">取消</button>
            <button nz-button nzType="primary" (click)="isCreate ? createTask() : updateTask()">保存</button>
        </div>
    </ng-template>
</nz-drawer>
