<div class="container">
    <form nz-form [formGroup]="loginTeacherForm" (ngSubmit)="loginTeacher()">
        <nz-form-item>
            <nz-form-control nzErrorTip="工号不能为空" nzHasFeedback>
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" formControlName="teacherNo" placeholder="工号" nz-input/>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzErrorTip]="passwordErrorTpl" nzHasFeedback>
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" formControlName="teacherPassword" placeholder="密码" nz-input/>
                    <ng-template #passwordErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('minlength')">密码最小长度为6</ng-container>
                        <ng-container *ngIf="control.hasError('maxlength')">密码最大长度为20</ng-container>
                    </ng-template>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <button class="login-form-margin" nzType="primary" [disabled]="!loginTeacherForm.valid" nz-button>登录</button>
        或<a routerLink="/user/register">立即注册</a>
    </form>
</div>
