<div class="container">
    <!-- 菜单 -->
    <div nz-row class="menu" [nzGutter]="16" nzJustify="center">
        <div nz-col [nzSpan]="4">
            <input [(ngModel)]="researchName" (ngModelChange)="queryResearchList()" placeholder="搜索你的研究" nz-input />
        </div>
        <div nz-col [nzSpan]="2" [nzOffset]="18">
            <a nzType="primary" routerLink="/research/new" nz-button>创建研究</a>
        </div>
    </div>
    <nz-list nzGrid>
        <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="6" *ngFor="let research of researchList">
                <nz-list-item>
                    <a routerLink="/research/detail" [queryParams]="{researchId: research.researchId}">
                        <nz-card [nzTitle]="research.researchName" nzHoverable>
                            <p nz-typography [nzEllipsisRows]="2" nzEllipsis>{{ research.researchDescription }}</p>
                        </nz-card>
                    </a>
                </nz-list-item>
            </div>
        </div>
    </nz-list>
</div>
