<nz-drawer
    [nzMaskClosable]="false"
    [nzVisible]="drawerVisible"
    [nzWidth]="560"
    [nzFooter]="footerTpl"
    nzPlacement="right"
    nzTitle="完成详情"
    (nzOnClose)="closeDrawer()"
>
    <ng-container *nzDrawerContent>
        <nz-descriptions [nzColumn]="1">
            <nz-descriptions-item nzTitle="学生姓名">{{ studentName }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="完成状态">
                <nz-badge *ngIf="completeState == 1" nzStatus="processing" nzText="进行中"></nz-badge>
                <nz-badge *ngIf="completeState == 2" nzStatus="warning" nzText="已提交"></nz-badge>
                <nz-badge *ngIf="completeState == 3" nzStatus="error" nzText="已驳回"></nz-badge>
                <nz-badge *ngIf="completeState == 4" nzStatus="success" nzText="已通过"></nz-badge>
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="提交时间">{{updateTime | date: "yyyy-MM-dd HH:mm:ss"}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="提交内容">{{completeContent}}</nz-descriptions-item>
        </nz-descriptions>
        <a nzType="primary" [href]="fileUrl" [disabled]="fileUrl == &quot;&quot; || fileUrl == null" nz-button>下载附件</a>
        <span style="margin-left: 8px">{{fileName}}</span>
    </ng-container>

    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="closeDrawer()">取消</button>
            <button nz-button style="margin-right: 8px;" nzType="primary" (click)="updateComplete(3)" nzDanger>驳回</button>
            <button nz-button nzType="primary" (click)="updateComplete(4)">通过</button>
        </div>
    </ng-template>
</nz-drawer>
