<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="560" [nzVisible]="drawerVisible"
    nzTitle="创建学生" [nzFooter]="footerTpl" (nzOnClose)="closeDrawer()">
    <form nz-form *nzDrawerContent>
        <nz-form-item>
            <nz-form-label>学生姓名</nz-form-label>
            <nz-form-control>
                <input nz-input />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>入学年份</nz-form-label>
            <nz-form-control>
                <nz-date-picker nzMode="year"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>研究方向</nz-form-label>
            <nz-form-control>
                <nz-checkbox-wrapper style="width: 100%;">
                    <div nz-row>
                        <div nz-col nzSpan="8"><label nz-checkbox nzValue="A">A</label></div>
                        <div nz-col nzSpan="8"><label nz-checkbox nzValue="B">B</label></div>
                        <div nz-col nzSpan="8"><label nz-checkbox nzValue="C">C</label></div>
                        <div nz-col nzSpan="8"><label nz-checkbox nzValue="D">D</label></div>
                        <div nz-col nzSpan="8"><label nz-checkbox nzValue="E">E</label></div>
                    </div>
                </nz-checkbox-wrapper>
            </nz-form-control>
        </nz-form-item>
    </form>

    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="closeDrawer()">取消</button>
            <button nz-button nzType="primary" (click)="closeDrawer()">保存</button>
        </div>
    </ng-template>
</nz-drawer>