<div class="container">
    <nz-tabset nzCentered>
        <!-- 概述选项卡 -->
        <nz-tab nzTitle="概述">
            <div [nzGutter]="16" class="tab-container" style="display: flex;" nz-row>
                <div [nzSpan]="6" nz-col>
                    <h4 nz-typography>{{ updateResearchFrom.value.researchName }}</h4>
                    <p nzType="secondary" nz-typography>{{ updateResearchFrom.value.researchDescription }}</p>
                </div>
                <div [nzSpan]="9" nz-col>
                    <h4 nz-typography>动态</h4>
                    <nz-divider></nz-divider>
                    <nz-list [nzDataSource]="completeList" [nzRenderItem]="complete" nzItemLayout="horizontal">
                        <ng-template #complete let-complete>
                            <nz-comment *ngIf="complete.updateTime != null" [nzAuthor]="complete.studentName"
                                        [nzDatetime]="dateDistance(complete.updateTime)">
                                <nz-avatar [nzText]="complete.studentName" nz-comment-avatar></nz-avatar>
                                <nz-comment-content>
                                    <p nz-typography>提交了{{complete.taskName}}</p>
                                </nz-comment-content>
                            </nz-comment>
                        </ng-template>
                    </nz-list>
                </div>
                <div nz-col [nzSpan]="9">
                    <h4 nz-typography>任务</h4>
                    <nz-divider></nz-divider>
                    <nz-timeline>
                        <nz-timeline-item *ngFor="let task of taskList"
                                          nzColor="blue">{{task.taskName}}</nz-timeline-item>
                    </nz-timeline>
                </div>
            </div>
        </nz-tab>

        <!-- 任务选项卡 -->
        <nz-tab nzTitle="任务">
            <div class="tab-container">
                <div nz-row class="tab-menu" [nzGutter]="16" nzJustify="center">
                    <div nz-col [nzSpan]="4">
                        <input placeholder="搜索你的任务" [(ngModel)]="taskName" (ngModelChange)="queryTaskList()" nz-input/>
                    </div>
                    <div nz-col [nzSpan]="4">
                        <nz-select [(ngModel)]="taskState" (ngModelChange)="queryTaskList()" nzPlaceHolder="按任务状态筛选"
                                   nzAllowClear>
                            <nz-option [nzValue]="1" nzLabel="未发布"></nz-option>
                            <nz-option [nzValue]="2" nzLabel="进行中"></nz-option>
                            <nz-option [nzValue]="3" nzLabel="已完成"></nz-option>
                        </nz-select>
                    </div>
                    <div nz-col [nzSpan]="2" [nzOffset]="14">
                        <button nzType="primary" (click)="openTaskDrawer(0, researchId)" nz-button>创建任务</button>
                    </div>
                </div>
                <nz-table #taskTable [nzData]="taskList" [nzFrontPagination]="false">
                    <thead>
                    <tr>
                        <th>任务名称</th>
                        <th>截止日期</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let task of taskTable.data">
                        <td>{{ task.taskName }}</td>
                        <td>{{ task.endTime | date: "yyyy-MM-dd HH:mm:ss" }}</td>
                        <td>
                            <nz-badge *ngIf="task.taskState == 1" nzStatus="default" nzText="未发布"></nz-badge>
                            <nz-badge *ngIf="task.taskState == 2" nzStatus="processing" nzText="进行中"></nz-badge>
                            <nz-badge *ngIf="task.taskState == 3" nzStatus="success" nzText="已完成"></nz-badge>

                        </td>
                        <td>
                            <a (click)="openTaskReleaseModal(task.taskId, task.researchId)" [nzDisabled]="task.taskState == 2 || task.taskState == 3" nz-typography>发布</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a (click)="openTaskDetailDrawer(task.taskId)">查看</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a routerLink="/task/complete" [queryParams]="{taskId: task.taskId}" [nzDisabled]="task.taskState != 2" nz-typography>批改</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a (click)="openTaskDrawer(task.taskId, task.researchId)">编辑</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nzPopconfirmTitle="确认删除当前任务?" nzPopconfirmPlacement="bottom"
                               (nzOnConfirm)="deleteTask(task.taskId)" nz-popconfirm>
                                删除
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
                <br>
                <nz-pagination [(nzPageIndex)]="taskPageIndex" [nzTotal]="taskTotal" [(nzPageSize)]="taskPageSize"
                               (nzPageIndexChange)="taskPageIndexChange()" (nzPageSizeChange)="taskPageSizeChange()"
                               nzShowSizeChanger>
                </nz-pagination>
            </div>
        </nz-tab>

        <!-- 学生选项卡 -->
        <nz-tab nzTitle="学生">
            <div class="tab-container">
                <div nz-row class="tab-menu" [nzGutter]="16">
                    <div nz-col [nzSpan]="4">
                        <input [(ngModel)]="studentName" (ngModelChange)="queryStudentList()" placeholder="搜索你的学生"
                               nz-input/>
                    </div>
                    <div nz-col [nzSpan]="4">
                        <nz-date-picker nzMode="year" [(ngModel)]="studentYear" [nzDisabledDate]="disabledDate"
                                        (ngModelChange)="queryStudentList()"
                                        nzPlaceHolder="按入学年份筛选"></nz-date-picker>
                    </div>
                </div>
                <nz-table #studentTable [nzData]="studentList" [nzFrontPagination]="false">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>入学年份</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let student of studentTable.data">
                        <td>{{ student.studentName }}</td>
                        <td>{{ student.studentYear | date: "yyyy" }}</td>
                        <td>
                            <a (click)="openStudentDetailDrawer(student.studentId)">查看</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a (click)="openStudentFormDrawer(student.studentId)">编辑</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a nzPopconfirmTitle="确认删除当前学生?" nzPopconfirmPlacement="bottom"
                               (nzOnConfirm)="deleteStudent(student.studentId)" nz-popconfirm>
                                删除
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </nz-table>
                <br>
                <nz-pagination [(nzPageIndex)]="studentPageIndex" [nzTotal]="studentTotal"
                               [(nzPageSize)]="studentPageSize"
                               (nzPageIndexChange)="studentPageIndexChange()"
                               (nzPageSizeChange)="studentPageSizeChange()"
                               nzShowSizeChanger>
                </nz-pagination>
            </div>
        </nz-tab>

        <!-- 设置选项卡 -->
        <nz-tab nzTitle="设置">
            <div class="tab-container" style="width: 50%; margin: 0 auto;">
                <h4 nz-typography>基本信息</h4>
                <nz-divider></nz-divider>
                <form [formGroup]="updateResearchFrom" (ngSubmit)="updateResearch()" style="margin-bottom: 32px;"
                      nz-form>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="4">研究名称</nz-form-label>
                        <nz-form-control [nzErrorTip]="nameError" [nzSpan]="20" nzHasFeedback>
                            <input type="text" formControlName="researchName" nz-input/>
                            <ng-template #nameError let-control>
                                <ng-container *ngIf="control.hasError('required')">名称不能为空</ng-container>
                                <ng-container *ngIf="control.hasError('maxlength')">名称最大长度为50</ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="4">研究内容</nz-form-label>
                        <nz-form-control [nzErrorTip]="descriptionError" [nzSpan]="20" nzHasFeedback>
                            <textarea formControlName="researchDescription" [nzAutosize]="{ minRows: 6 }"
                                      nz-input></textarea>
                            <ng-template #descriptionError let-control>
                                <ng-container *ngIf="control.hasError('required')">内容不能为空</ng-container>
                                <ng-container *ngIf="control.hasError('maxlength')">内容最大长度为255</ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="register-area" nz-row>
                        <nz-form-control [nzSpan]="20" [nzOffset]="4">
                            <button nzType="primary" [disabled]="!updateResearchFrom.valid" nz-button>保存</button>
                        </nz-form-control>
                    </nz-form-item>
                </form>

                <br>

                <h4 nz-typography>危险区域</h4>
                <nz-divider></nz-divider>
                <div nz-row>
                    <div nz-col [nzSpan]="22">
                        <p nz-typography>请谨慎操作, 这将删除你的研究, 且不能找回. </p>
                    </div>
                    <div nz-col [nzSpan]="2">
                        <button nzType="default" (click)="toggleDeleteResearchModelVisible()" nzDanger
                                nz-button>删除研究
                        </button>
                    </div>
                </div>
                <nz-modal [(nzVisible)]="deleteResearchModelVisible" nzTitle="是否要删除当前研究？"
                          (nzOnCancel)="toggleDeleteResearchModelVisible()" (nzOnOk)="deleteResearch()">
                    <ng-container *nzModalContent>
                        <p nz-typography>当前操作不可逆转，请谨慎操作！</p>
                    </ng-container>
                </nz-modal>
            </div>
        </nz-tab>
    </nz-tabset>
</div>

<app-task-detail #taskDetailDrawer></app-task-detail>
<app-task-form (refreshPage)="queryTaskList()" #taskDrawer></app-task-form>
<app-task-release (refreshPage)="queryTaskList()" #taskReleaseModal></app-task-release>
<app-student-detail #studentDetailDrawer></app-student-detail>
<app-student-form (refreshPage)="queryStudentList()" #studentFormDrawer></app-student-form>
