<div class="container">
    <div style="display: flex;">
        <div style="margin-right: 32px;" (click)="onBack()">
            <i nz-icon style="font-size: 32px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 24 24" width="32" fill="currentColor">
                    <path
                        d="M3.414 7.657l3.95 3.95A1 1 0 0 1 5.95 13.02L.293 7.364a.997.997 0 0 1 0-1.414L5.95.293a1 1 0 1 1 1.414 1.414l-3.95 3.95H13a1 1 0 0 1 0 2H3.414z">
                    </path>
                </svg>
            </i>
        </div>
        <div>
            <h4 nz-typography>任务标题</h4>
        </div>
    </div>
    <nz-divider></nz-divider>
    <p nz-typography style="margin-bottom: 16px;">任务内容</p>

    <!-- 表格 -->
    <nz-table #completeTable [nzData]="completeList" [nzFrontPagination]="false">
        <thead>
        <tr>
            <th>学生姓名</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let complete of completeTable.data">
            <td>{{ complete.studentName }}</td>
            <td>
                <nz-badge *ngIf="complete.completeState == 1" nzStatus="error" nzText="未提交"></nz-badge>
                <nz-badge *ngIf="complete.completeState == 2" nzStatus="warning" nzText="已提交"></nz-badge>
                <nz-badge *ngIf="complete.completeState == 3" nzStatus="success" nzText="已通过"></nz-badge>
            </td>
            <td>
                <a (click)="openTaskMarkDrawer(complete.completeId)">查看</a>
            </td>
        </tr>
        </tbody>
    </nz-table>

    <br>

    <!-- 分页 -->
    <nz-pagination [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzTotal]="total" [nzShowSizeChanger]="true"
                   (nzPageIndexChange)="pageIndexChange()" (nzPageSizeChange)="pageSizeChange()"></nz-pagination>
</div>

<app-task-mark #taskMarkDrawer></app-task-mark>
