<div class="container">
    <!-- 页头 -->
    <nz-page-header [nzTitle]="taskName" (nzBack)="onBack()" nzBackIcon></nz-page-header>

    <nz-divider></nz-divider>

    <!-- 表格 -->
    <nz-table #completeTable [nzData]="completeList" [nzFrontPagination]="false">
        <thead>
        <tr>
            <th>学生姓名</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let complete of completeTable.data">
            <td>{{ complete.studentName }}</td>
            <td>
                <nz-badge *ngIf="complete.completeState == 1" nzStatus="processing" nzText="进行中"></nz-badge>
                <nz-badge *ngIf="complete.completeState == 2" nzStatus="warning" nzText="已提交"></nz-badge>
                <nz-badge *ngIf="complete.completeState == 3" nzStatus="error" nzText="已驳回"></nz-badge>
                <nz-badge *ngIf="complete.completeState == 4" nzStatus="success" nzText="已通过"></nz-badge>
            </td>
            <td>
                <a (click)="openTaskMarkDrawer(complete.completeId)"
                   [nzDisabled]="complete.completeState == 1 || complete.completeId == 3" nz-typography>查看</a>
            </td>
        </tr>
        </tbody>
    </nz-table>

    <br>

    <!-- 分页 -->
    <nz-pagination [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzTotal]="total" [nzShowSizeChanger]="true"
                   (nzPageIndexChange)="pageIndexChange()" (nzPageSizeChange)="pageSizeChange()"></nz-pagination>
</div>

<app-task-mark (refreshPage)="queryCompleteList()" #taskMarkDrawer></app-task-mark>
