<div class="container">
    <form nz-form>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>姓名</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
                <input type="text" id="name" nz-input />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="year" nzRequired>入职年份</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
                <nz-date-picker nzMode="year" nzPlaceHolder=" "></nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="telephone">电话</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
                <input type="tel" id="telephone" nz-input />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">邮箱</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
                <input type="email" id="email" formControlName="email" nz-input />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
                <input type="password" id="password" formControlName="password" nz-input />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>确认密码</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
                <input type="password" id="checkPassword" formControlName="checkPassword" nz-input />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="18" [nzOffset]="6">
                <button nz-button nzType="primary">注册</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>