<div class="container">
    <div nz-row class="menu" [nzGutter]="16" nzJustify="center">
        <div nz-col nzSpan="4">
            <input nz-input placeholder="搜索你的学生" [(ngModel)]="studentName" (ngModelChange)="queryStudentList()" />
        </div>
        <div nz-col nzSpan="4">
            <nz-select nzPlaceHolder="研究方向" [(ngModel)]="researchId" (ngModelChange)="queryStudentList()" nzAllowClear>
                <nz-option *ngFor="let research of researchList" [nzValue]="research.researchId"
                    [nzLabel]="research.researchName"></nz-option>
            </nz-select>
        </div>
        <div nz-col nzSpan="4">
            <nz-date-picker nzMode="year" nzPlaceHolder="入学年份" [nzDisabledDate]="disabledDate" [(ngModel)]="studentYear"
                (ngModelChange)="queryStudentList()"></nz-date-picker>
        </div>
        <div nz-col nzSpan="2">
            <button nzType="primary" (click)="openFormDrawer(0)" nz-button>添加学生</button>
        </div>
    </div>
    <nz-table #basicTable [nzData]="studentList" [nzFrontPagination]="false">
        <thead>
            <tr>
                <th>姓名</th>
                <th>研究方向</th>
                <th>入学年份</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of basicTable.data">
                <td>{{ student.studentName }}</td>
                <td>{{ student.researchName }}</td>
                <td>{{ student.studentYear | date: "yyyy" }}</td>
                <td>
                    <a (click)="openDetailDrawer(student.studentId)">查看</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="openFormDrawer(student.studentId)">编辑</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nz-popconfirm nzPopconfirmTitle="确认删除当前学生?" nzPopconfirmPlacement="bottom"
                        (nzOnConfirm)="deleteStudent(student.studentId)">
                        删除
                    </a>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <br>

    <nz-pagination [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzTotal]="total" [nzShowSizeChanger]="true"
        (nzPageIndexChange)="pageIndexChange()" (nzPageSizeChange)="pageSizeChange()"></nz-pagination>
</div>

<app-student-form #studentFormDrawer></app-student-form>
<app-student-detail #studentDetailDrawer></app-student-detail>